<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @page_title %></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div id="main">
      <h1>Nokogiri Scrapes Pinterest</h1>
      <%= erb :search %>
      <%= yield %>
    </div>
  </body>
</html>
