<form class="search-form" action="/search" method="get">
	<input class="search-text" type="text" name="q" placeholder="Search Pinterest for...">
	<input class="search-submit" type="submit" value="Search Pinterest!">
</form>